* {
  box-sizing: border-box;

  button {
    border: unset;
    background: transparent;
    padding: 0;

    &:hover {
      background: transparent;
    }
  }

  ul,
  ul li,
  ul ul li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
  }
}
