@mixin grid-system {
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(2, calc((100% - 30px) / 2));

    @include desktop {
        gap: 31px; 
        grid-template-columns: repeat(3, calc((100% - 2 * 31px) / 3));
    }
}